################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyGitProject/MyGitProject/bin
/MyGitProject/MyGitProject/obj/Debug
*.user
*.suo
